# Rates Exploration

In [1]:
import os
import pandas as pd

In [45]:
#pip install openpyxl matplotlib plotly

## Data Igestion

In [3]:
main_path = os.getcwd()

In [4]:
main_path

'C:\\datahackerman_pz\\rates-app'

In [5]:
input_data_path = os.path.join(main_path, "input_data")

In [6]:
input_data_path

'C:\\datahackerman_pz\\rates-app\\input_data'

In [7]:
rate_file_name = "Rates.xlsx"

In [8]:
rate_file_data_path = os.path.join(input_data_path, rate_file_name)

In [9]:
rate_file_data_path

'C:\\datahackerman_pz\\rates-app\\input_data\\Rates.xlsx'

In [21]:
rate_data = pd.read_excel(rate_file_data_path, header=1) #skiprows=1)

In [22]:
rate_data.head()

,Unnamed: 0,GBPEUR,GBPUSD,GBPCHF,GBPAUD,GBPJPY,GBPCAD,GBPSEK,GBPNZD,GBPNOK,GBPPLN
0,Date,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST
1,2022-01-03 00:00:00,0.034417,0.058833,0.156028,0.003318,-0.13422,0.018315,-0.044198,-0.014144,-0.076295,0.090303
2,2022-01-04 00:00:00,0.039272,0.06276,0.156682,0.000321,-0.12484,0.019264,-0.042018,-0.013697,-0.074404,0.09174
3,2022-01-05 00:00:00,0.038838,0.064881,0.160228,0.004656,-0.12336,0.024895,-0.038531,-0.010074,-0.073168,0.093695
4,2022-01-06 00:00:00,0.038578,0.062917,0.163401,0.011025,-0.12704,0.020864,-0.036297,-0.004963,-0.070497,0.088827

In [23]:
rate_data = rate_data.drop(rate_data.index[0])

In [24]:
rate_data.shape

(571, 11)

In [46]:
rate_data = rate_data.rename(columns={'Data': 'Date'})

In [47]:
rate_data.head()

,Date,GBPEUR,GBPUSD,GBPCHF,GBPAUD,GBPJPY,GBPCAD,GBPSEK,GBPNZD,GBPNOK,GBPPLN
1,2022-01-03 00:00:00,0.034417,0.058833,0.156028,0.003318,-0.13422,0.018315,-0.044198,-0.014144,-0.076295,0.090303
2,2022-01-04 00:00:00,0.039272,0.06276,0.156682,0.000321,-0.12484,0.019264,-0.042018,-0.013697,-0.074404,0.09174
3,2022-01-05 00:00:00,0.038838,0.064881,0.160228,0.004656,-0.12336,0.024895,-0.038531,-0.010074,-0.073168,0.093695
4,2022-01-06 00:00:00,0.038578,0.062917,0.163401,0.011025,-0.12704,0.020864,-0.036297,-0.004963,-0.070497,0.088827
5,2022-01-07 00:00:00,0.037191,0.067316,0.16508,0.012791,-0.12563,0.018256,-0.042392,-0.005012,-0.072952,0.084836

In [48]:
rate_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 1 to 571
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    570 non-null    object
 1   GBPEUR  570 non-null    object
 2   GBPUSD  570 non-null    object
 3   GBPCHF  570 non-null    object
 4   GBPAUD  570 non-null    object
 5   GBPJPY  570 non-null    object
 6   GBPCAD  570 non-null    object
 7   GBPSEK  570 non-null    object
 8   GBPNZD  570 non-null    object
 9   GBPNOK  570 non-null    object
 10  GBPPLN  570 non-null    object
dtypes: object(11)
memory usage: 49.2+ KB

In [49]:
rate_data['Date'] = pd.to_datetime(rate_data['Date'])

In [50]:
for col in rate_data.columns.drop('Date'):  
    rate_data[col] = pd.to_numeric(rate_data[col], errors='coerce')

In [52]:
rate_data.head()

,Date,GBPEUR,GBPUSD,GBPCHF,GBPAUD,GBPJPY,GBPCAD,GBPSEK,GBPNZD,GBPNOK,GBPPLN
1,2022-01-03,0.034417,0.058833,0.156028,0.003318,-0.13422,0.018315,-0.044198,-0.014144,-0.076295,0.090303
2,2022-01-04,0.039272,0.062760,0.156682,0.000321,-0.12484,0.019264,-0.042018,-0.013697,-0.074404,0.091740
3,2022-01-05,0.038838,0.064881,0.160228,0.004656,-0.12336,0.024895,-0.038531,-0.010074,-0.073168,0.093695
4,2022-01-06,0.038578,0.062917,0.163401,0.011025,-0.12704,0.020864,-0.036297,-0.004963,-0.070497,0.088827
5,2022-01-07,0.037191,0.067316,0.165080,0.012791,-0.12563,0.018256,-0.042392,-0.005012,-0.072952,0.084836

In [53]:
rate_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 1 to 571
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    570 non-null    datetime64[ns]
 1   GBPEUR  570 non-null    float64
 2   GBPUSD  570 non-null    float64
 3   GBPCHF  570 non-null    float64
 4   GBPAUD  570 non-null    float64
 5   GBPJPY  570 non-null    float64
 6   GBPCAD  570 non-null    float64
 7   GBPSEK  570 non-null    float64
 8   GBPNZD  570 non-null    float64
 9   GBPNOK  570 non-null    float64
 10  GBPPLN  570 non-null    float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 49.2 KB